@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn{
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

header{
  .menu__submenu{
    display: block;
    .fadeIn;
  }
}

#react_lazyload_container{
  .react_lazyload_container_inner{
    overflow: hidden;
  }
}

.member_registration{
  max-width: 480px;
  margin: 0 auto;
  padding: 30px 0 80px;
  .form-group{
    display: block;
    label{
      display: block;
      font-size: 16px;
    }
    input{
      width: 100%;
      line-height: 24px;
      height: 24px;
      padding: 0 5px;
    }
    .error{
      font-size: 14px;
      color: red;
    }
  }
}
